alias reload="exec ${SHELL} -l"
alias xls="exa -lh"
alias cat="bat"
alias ls="exa"
alias tree="exa -T -L=2 --icons -Fa"
alias rmf="rm -rf"
# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; sudo gem update --system; sudo gem update; sudo gem cleanup'
#ips
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
# mimic vim quit
alias :q='exit'
# edit zsh config
alias ze='nano ~/.zshrc'
#handy color map for shells
alias colormap='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done'
# list repos and cd into the one
alias repos='cd $(ls -d ~/git/*/* | fzf)'
#shortcut for brew install
alias i="brew install"

# functions
# git clone and cd to a repo directory and run npm/yarn
clone() {
  git clone $@
  if [ "$2" ]; then
    cd "$2"
  else
    cd $(basename "$1" .git)
  fi
  if [[ -r "./yarn.lock" ]]; then
    yarn
  elif [[ -r "./package-lock.json" ]]; then
    npm install
  fi
}

# Make a directory and cd to it
take() {
  mkdir -p $@ && cd ${@:$#}
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}


# remove node modules and install fresh
function nfresh(){
  echo "removing node_modules ..."
  rm -rf node_modules
  if [[ -r "./yarn.lock" ]]; then
    yarn
  elif [[ -r "./package-lock.json" ]]; then
    npm install
  fi
}
