# vi: ft=bash


alias reload="exec ${SHELL} -l"
alias xls="exa -lh"
alias cat="bat"
alias ls="exa"
alias mirror='wget -mpEk'
alias tree="exa -T -L=2 --icons -Fa"
alias rmf="rm -rf"
# Get macOS Software Updates, and update installed Ruby gems, Homebrew and their installed packages
#ips
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
# mimic vim quit
alias :q='exit'
# edit zsh config
alias ze='vim ~/.zshrc'
#handy color map for shells
alias colormap='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done'
# list repos and cd into the one
alias repos='cd $(ls -d ~/git/*/* | fzf)'
#shortcut for brew install
alias i="brew install"
alias about="neofetch"
alias whoami="id -un"
# a bit faster grep
alias grep="grep -IE --exclude-dir=.git --exclude-dir=node_modules"
alias ghbrowse="gh browse -b `git rev-parse --abbrev-ref HEAD`"

alias issues="jira issue list -a $(jira me)"
alias tasks='jira issue list -q "assignee IN (currentUser()) AND status IN (\"Open\",\"Reopened\",\"To Do\", \"In Progress\")"'
# functions
# git clone and cd to a repo directory and run npm/yarn
clone() {
  cd ~/git
  git clone $@
  if [ "$2" ]; then
    cd "$2"
  else
    cd $(basename "$1" .git)
  fi
  nvm use
  if [[ -r "./yarn.lock" ]]; then
    yarn
  elif [[ -r "./package-lock.json" ]]; then
    npm install
  fi
}

# Make a directory and cd to it
take() {
  mkdir -p $@ && cd ${@:$#}
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}


# remove node modules and install fresh
function nfresh(){
  echo "removing node_modules ..."
  rm -rf node_modules
  if [[ -r "./yarn.lock" ]]; then
    yarn
  elif [[ -r "./package-lock.json" ]]; then
    npm install
  fi
}

#  browse chrome bookmarks dep: jq, fzf
bk() {
     bookmarks_path=~/Library/Application\ Support/Google/Chrome/Default/Bookmarks

     jq_script='
        def ancestors: while(. | length >= 2; del(.[-1,-2]));
        . as $in | paths(.url?) as $key | $in | getpath($key) | {name,url, path: [$key[0:-2] | ancestors as $a | $in | getpath($a) | .name?] | reverse | join("/") } | .path + "/" + .name + "\t" + .url'

    jq -r "$jq_script" < "$bookmarks_path" \
        | sed -E $'s/(.*)\t(.*)/\\1\t\x1b[36m\\2\x1b[m/g' \
        | fzf --ansi \
        | cut -d$'\t' -f2 \
        | xargs open
}
# pull a cheatsheet
tldr() {
  curl -m 10 "http://cheat.sh/${1}" 2>/dev/null || printf '%s\n' "[ERROR] Something broke"
}

# colorized man pages
man() {
	env \
		LESS_TERMCAP_mb=$(printf "\e[1;31m") \
		LESS_TERMCAP_md=$(printf "\e[1;31m") \
		LESS_TERMCAP_me=$(printf "\e[0m") \
		LESS_TERMCAP_se=$(printf "\e[0m") \
		LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
		LESS_TERMCAP_ue=$(printf "\e[0m") \
		LESS_TERMCAP_us=$(printf "\e[1;32m") \
			man "$@"
}



# search and add result to vim quickfix
fury(){
   local pat=$1
   local l="${2:-.}"
   local result=$(grep -rn "$pat" $l)
   if [ -z "$result" ]
   then 
        echo "no result found"
   else
        #echo $result
        vim -q <(echo "$result") +:copen
    fi
}

# open remote in browser
# default to current branch
# tested with githib and bitbucket on a macOx (zsh)
gopen(){
  open $(git config remote.origin.url | sed "s/git@\(.*\):\(.*\).git/https:\/\/\1\/\2/")/$1$2
}

